---
http_interactions:
- request:
    method: get
    uri: https://kinopoiskapiunofficial.tech/api/v1/api_keys/<X_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-KEY:
      - "<X_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"totalQuota":{"value":-1,"used":52},"dailyQuota":{"value":500,"used":10},"accountType":"FREE"}'
  recorded_at: Wed, 09 Apr 2025 03:13:30 GMT
recorded_with: VCR 6.3.1
