---
http_interactions:
- request:
    method: get
    uri: https://kinopoiskapiunofficial.tech/api/v2.2/films/4502606/images?page=1&type=STILL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-KEY:
      - "<X_API_KEY>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"total":15,"totalPages":1,"items":[{"imageUrl":"https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/2fbbc128-168d-4eee-a273-b91ec5891d31/orig","previewUrl":"https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/2fbbc128-168d-4eee-a273-b91ec5891d31/300x"},{"imageUrl":"https://avatars.mds.yandex.net/get-kinopoisk-image/10703959/eeaf6ac1-961c-4ff1-b847-9918065ee3c1/orig","previewUrl":"https://avatars.mds.yandex.net/get-kinopoisk-image/10703959/eeaf6ac1-961c-4ff1-b847-9918065ee3c1/300x"},{"imageUrl":"https://avatars.mds.yandex.net/get-kinopoisk-image/10703959/712f13b7-31f8-427a-bbf6-ea9e55816938/orig","previewUrl":"https://avatars.mds.yandex.net/g[...]
